# oct/08/2026 11:28:43 by RouterOS 6.49.22
# software id = X7RS-H4TI
#
# model = CCR1009-7G-1C-1S+
# serial number = 914F0A7A6422
/interface bridge
add name=VPN vlan-filtering=yes
add name=bridge_CitidocUral
/interface ethernet
set [ find default-name=ether1 ] speed=100Mbps
set [ find default-name=ether2 ] comment=\
    "to Citidok Ural (over Miralogic network)" speed=100Mbps
set [ find default-name=ether3 ] speed=100Mbps
set [ find default-name=ether4 ] speed=100Mbps
set [ find default-name=ether5 ] speed=100Mbps
set [ find default-name=ether6 ] speed=100Mbps
set [ find default-name=ether7 ] speed=100Mbps
set [ find default-name=sfp-sfpplus1 ] advertise=\
    10M-full,100M-full,1000M-full
/interface l2tp-client
add connect-to=89.109.240.35 name=CR_Shelkovo password=\
    "ghgr755HDfq\$3234j&&3" user=UK_Medma
add connect-to=178.46.92.193 name=L2TP-Palniks-out user=Palniks
add allow=mschap1,mschap2 connect-to=176.52.126.95 disabled=no ipsec-secret=\
    iST4krNhxDIHF6 name=L2TP_Citidok_Kazan_MTS password=6Z2SyPy4zG use-ipsec=\
    yes user=l2tp-medma
add connect-to=109.226.199.205 disabled=no name=L2TP_Citilab_Krasnoyarsk \
    password="89Zc&)h+D&L^Q0f" user=L2TP_Medma
add allow=mschap2 connect-to=79.104.25.130 disabled=no ipsec-secret=\
    FUYnItjtR4eZxg name=L2TP_Fertimed_DOMRU password=C5IzCjAejlme use-ipsec=\
    yes user=UK_Medma
add allow=mschap1,mschap2 connect-to=176.213.141.88 disabled=no ipsec-secret=\
    OQVPHVh8mH name=L2TP_GenomDon_DOMRU password=jiJlO4HeCWfQ user=l2tp-medma
add connect-to=78.140.56.34 name=L2TP_GenomTomsk_Tomica password=13fsZjh7 \
    user=ekb
add allow=mschap1,mschap2 connect-to=83.219.142.78 ipsec-secret=\
    "oeiVQ\$IKb\?Eh" name=L2TP_Kaliningrad_Dialog password="i5XPL1\?#o@" \
    user=ekat_pbx
add connect-to=89.109.41.122 disabled=no name=L2TP_KatLab_NN password=\
    TVjJkHKYrFPlrn user=L2TP_Medma
add connect-to=31.43.217.107 name=L2TP_KatlabAltay password=15724896Qq user=\
    USR_KatlabAltayi
add connect-to=77.94.103.131 disabled=no name=L2TP_NF_Baimak password=\
    zFiZh28a user=l2tp-medma
add connect-to=178.214.233.57 ipsec-secret=3VwAz4nh0A name=L2TP_NF_Beloretsk \
    password=mDNsxY5FWc user=L2TP_Medma
add allow=mschap1,mschap2 connect-to=128.0.28.137 disabled=no name=\
    L2TP_NF_Biisk2 password=PP6mnbFHzr user=l2tp-medma
add connect-to=84.39.240.173 disabled=no name=L2TP_NF_Chishmy password=\
    1XHKmFcTT8 user=L2TP_Medma
add allow=mschap1,mschap2 connect-to=178.214.230.179 disabled=no name=\
    L2TP_NF_Davlekanovo password=cLS0zLqzPY5y user=L2TP_Medma
add connect-to=149.126.98.170 disabled=no name=L2TP_NF_Domodedovo password=\
    wE6hAehCXC user=l2tp-medma
add allow=mschap1,mschap2 connect-to=176.215.2.176 disabled=no ipsec-secret=\
    QVz70ppT name=L2TP_NF_Ekaterinburg password=QVz70ppT use-ipsec=yes user=\
    l2tp-medma
add comment=Feodosiya connect-to=195.189.18.84 disabled=no name=\
    L2TP_NF_Feodosiya password=48kC79sGHP user=L2TP_Medma
add connect-to=77.39.114.244 disabled=no ipsec-secret=B@racudaB@racuda name=\
    L2TP_NF_MinVodi password=6Z2SyPy4zG user=l2tp-medma
add connect-to=95.64.141.118 disabled=no ipsec-secret=D5DxNmZO name=\
    L2TP_NF_Moscow password=qG2yB7vkFJUO7qw use-ipsec=yes user=UK_Medma
add connect-to=185.141.237.201 disabled=no name=L2TP_NF_NaroFominsk password=\
    n4AFRdPPuM user=l2tp-medma
add connect-to=109.111.190.229 ipsec-secret=YtnGfhjkz! max-mru=1460 max-mtu=\
    1460 name=L2TP_NF_Novosibirsk password=UK-medma-PASS! user=l2tp-medma
add allow=mschap1,mschap2 connect-to=89.189.183.65 disabled=no ipsec-secret=\
    YtnGfhjkz! max-mru=1460 max-mtu=1460 name=L2TP_NF_Novosibirsk2 password=\
    UK-medma-PASS! use-ipsec=yes user=l2tp-medma
add connect-to=92.101.41.39 name=L2TP_NF_Nyandoma password=6DQ0quM1CVl user=\
    USR_Nefr_Nyandoma
add connect-to=176.117.211.139 ipsec-secret=B@racudaB@racuda name=\
    L2TP_NF_Priozersk password=ifYkqHa5Li use-ipsec=yes user=NF_Priozersk
add allow=mschap1,mschap2 connect-to=85.173.113.30 disabled=no ipsec-secret=\
    34dDY2XiR8 name=L2TP_NF_Prohladny password=Xb1ynR1q43 use-ipsec=yes user=\
    l2tp-medma
add connect-to=95.105.88.254 disabled=no name=L2TP_NF_Salavat password=\
    vfM56E0g user=l2tp-medma
add connect-to=89.109.249.39 disabled=no ipsec-secret=z1SYW1JHYX name=\
    L2TP_NF_SergievPosad password=n4AFRdPPuM use-ipsec=yes user=l2tp-medma
add allow=mschap1,mschap2 connect-to=79.111.247.62 disabled=no ipsec-secret=\
    1D81rFodbRZM name=L2TP_NF_Serpuhov password=nZYV9kLSTO use-ipsec=yes \
    user=l2tp-medma
add connect-to=37.139.109.12 disabled=no ipsec-secret=QbdZ1PhX7d name=\
    L2TP_NF_Sevastopol password=S2gA0zw4E3YD user=l2tp-medma2
add connect-to=195.18.23.129 disabled=no name=L2TP_NF_Sibai password=\
    Aw0Nevq5ms user=L2TP_Medma
add allow=mschap1,mschap2 connect-to=188.124.225.214 disabled=no \
    ipsec-secret=B@racudaB@racuda name=L2TP_NF_Simferopol password=dtaHDdKA5L \
    use-ipsec=yes user=l2tp-medma
add connect-to=213.135.80.192 name=L2TP_NF_StOskol password=1FqnfCnXUaCh \
    user=L2TP-Medma
add connect-to=79.105.103.173 name=L2TP_NF_Svobodny password=D4bvNuBVA2 user=\
    l2tp-medma
add allow=mschap2 connect-to=80.246.66.10 disabled=no ipsec-secret=\
    YcXjHSoXiUNtpx1 name=L2TP_NF_Tver password=15724896Qq user=USR_Tver
add allow=mschap1,mschap2 connect-to=83.174.227.213 disabled=no name=\
    L2TP_NF_Uchaly password=QItGFJqqy1 user=l2tp-medma
add connect-to=78.37.11.66 disabled=no name=L2TP_NF_VNovgorod password=\
    q2EZhLRSUb3S user=L2TP_Medma
add connect-to=178.214.241.148 disabled=no ipsec-secret=adj08MHxca name=\
    L2TP_NF_Verkhneiarkeevo password=WG44BVpRfOzuJ5b user=UK_Medma
add connect-to=195.34.241.74 disabled=no ipsec-secret=vkbq0Vw81GgRbG name=\
    L2TP_Vitroclinic_LIP_RT password=j95XZ1IyrViw use-ipsec=yes user=UK_Medma
add comment="\D0\E5\E7\E5\F0\E2\ED\FB\E9 \EA\E0\ED\E0\EB" connect-to=\
    94.180.255.78 name=R_L2TP_Citidok_Kazan_DOMRU password=6Z2SyPy4zG user=\
    l2tp-medma
add allow=mschap1,mschap2 connect-to=213.27.20.54 disabled=no ipsec-secret=\
    OQVPHVh8mH name=R_L2TP_GenomDon_MTS password=jiJlO4HeCWfQ user=l2tp-medma
add allow=mschap1,mschap2 connect-to=90.189.10.226 disabled=no name=\
    R_L2TP_GenomTomsk_Rostelecom password=13fsZjh7 user=ekb
add add-default-route=yes allow=mschap1,mschap2 connect-to=188.233.97.26 \
    ipsec-secret=B@racudaB@racuda name=R_L2TP_GenomVolgograd_DOMRU password=\
    pi52GGJlzYXcG1pDA2VM use-ipsec=yes user=USR_Volgograd102
add allow=mschap1,mschap2 connect-to=178.155.123.45 name=\
    R_L2TP_GenomVolgograd_MTS password=pi52GGJlzYXcG1pDA2VM user=\
    USR_Volgograd102
add connect-to=195.218.236.2 disabled=no ipsec-secret="oeiVQ\$IKb\?Eh" name=\
    R_L2TP_Kaliningrad_Beeline password="i5XPL1\?#o@" user=ekat_pbx
add allow=chap,mschap1,mschap2 connect-to=213.109.13.205 disabled=no name=\
    R_L2TP_Vitroclinic_LIP_DomRU password=j95XZ1IyrViw user=UK_Medma
add connect-to=95.165.222.206 disabled=no name=R_L2TP_Vitroclinic_MSK_RT \
    password=PXk0yKw5R3Fata7 user=L2TP_Medma
add connect-to=37.151.106.206 ipsec-secret=vNo3L7KMS9ABOg name=\
    l2tp-GenomAstana password=MWKAyF5Kq0 user=L2TP-Medma
/interface l2tp-server
add disabled=yes name=L2TP-Palniks user=Palniks
/interface pptp-client
add allow=mschap2 connect-to=176.52.126.95 name=PPTP_Citidoc_Kazan_MTS \
    password=6Z2SyPy4zG user=pptp-medma
add allow=mschap1,mschap2 connect-to=178.69.128.150 disabled=no name=\
    PPTP_GenomCherepovets password=YH3ioxKgnh!c user=USR_cherepovec
add allow=mschap1,mschap2 connect-to=176.122.200.102 disabled=no name=\
    PPTP_GenomCherepovetsOkt50 password=0c9Vmpo8Py user=l2tp_medma
add allow=mschap1,mschap2 connect-to=188.233.97.26 disabled=no name=\
    PPTP_GenomVolgograd_DomRU password=pi52GGJlzYXcG1pDA2VM user=\
    USR_Volgograd102
add allow=mschap1,mschap2 connect-to=89.250.3.66 disabled=no name=\
    PPTP_Vitroclinic_MSK_Tushino password=PXk0yKw5R3Fata7 user=L2TP_Medma
add allow=mschap1,mschap2 connect-to=95.68.192.132 name=PPT_Kuzovatovo_Test \
    password=4IZi6sYz4zvB7EtE user=USR_Kuzovatovo
add allow=mschap1,mschap2 comment=\
    "\D0\E5\E7\E5\F0\E2\ED\FB\E9 \EA\E0\ED\E0\EB" connect-to=94.180.255.78 \
    name=R_PPTP_Citidoc_Kazan_DOMRU password=6Z2SyPy4zG user=pptp-medma
/interface vlan
add interface=VPN name=vlan_4 vlan-id=4
add interface=VPN name=vlan_5 vlan-id=5
add interface=VPN name=vlan_105 vlan-id=105
/interface ovpn-client
add certificate=CFM_OVPN cipher=aes256 connect-to=5.172.17.25 mac-address=\
    02:78:04:E3:8C:E3 name=OVPN_CFM user=mikrotik_MDM
/interface wireless security-profiles
set [ find default=yes ] supplicant-identity=MikroTik
/ip hotspot user profile
set [ find default=yes ] keepalive-timeout=10m session-timeout=4h
add keepalive-timeout=5m name=trial on-logout=":local usermac [:pick \$user 2 \
    19]\
    \n:log info \"Remove host \$usermac\"\
    \n/ip hotspot host remove [find mac-address=\$usermac]" session-timeout=\
    5m transparent-proxy=yes
/ip hotspot profile
set [ find default=yes ] dns-name=hotspot.medma.su hotspot-address=10.7.0.1 \
    html-directory=medma login-by=mac,https,http-pap,trial nas-port-type=\
    ethernet radius-interim-update=1m radius-location-id=1505 \
    ssl-certificate=certificate.crt_0 trial-uptime-limit=5m \
    trial-uptime-reset=5m trial-user-profile=trial use-radius=yes
/ip ipsec peer
add address=188.233.97.26/32 exchange-mode=ike2 name=Genom_Volgograd
add address=178.69.128.150/32 exchange-mode=ike2 name=Genom_Cherepovets
add address=94.41.39.5/32 name=Sterilis_main
add address=91.191.234.118/32 exchange-mode=ike2 name=Citidok-EKB
add address=5.172.4.199/32 disabled=yes name=Magnolia
/ip ipsec profile
add name=Genoms
add enc-algorithm=aes-256,3des name=Citilab_Ekb
add enc-algorithm=aes-256 hash-algorithm=sha256 name=Citidoc
add enc-algorithm=aes-256,3des name=Volgograd
add enc-algorithm=aes-128 lifetime=8h name=MSK-CISCO prf-algorithm=sha1
add name=Genoms_KLG
add dh-group=modp3072,modp2048 enc-algorithm=aes-256,aes-128 name=\
    UG-CitilabUfa
add enc-algorithm=aes-256,3des name=cherepovec
add dh-group=modp2048 enc-algorithm=aes-128 name=MSK-MIKROTIK
/ip ipsec peer
add address=195.218.236.2/32 exchange-mode=ike2 name=Genom_Kaliningrad \
    profile=Genoms send-initial-contact=no
add address=195.151.31.254/32 name=MSK-MIKROTIK profile=MSK-MIKROTIK
add address=94.124.195.86/32 disabled=yes name=MSK-MIKROTIK2 profile=\
    MSK-MIKROTIK
add address=85.12.245.232/32 name=IKE_Citilab_Ekb profile=Citilab_Ekb
add address=77.79.187.181/32 name=UG-CitilabUfa profile=UG-CitilabUfa
/ip ipsec proposal
set [ find default=yes ] enc-algorithms=\
    aes-256-cbc,aes-192-cbc,aes-128-cbc,3des
add enc-algorithms=3des name=Genoms pfs-group=modp2048
add enc-algorithms=3des name=Citilab_Ekb
add auth-algorithms=sha256 enc-algorithms=aes-256-cbc name=Citidoc pfs-group=\
    modp2048
add enc-algorithms=aes-128-cbc lifetime=8h name=MSK-CISCO pfs-group=modp2048
add enc-algorithms=aes-256-cbc,aes-128-cbc,aes-128-ctr lifetime=1h name=\
    UG-CitilabUfa pfs-group=none
add auth-algorithms=sha256,sha1 enc-algorithms=aes-256-cbc,aes-128-cbc name=\
    MSK-MIKROTIK pfs-group=modp2048
/ip pool
add name=L2TP ranges=172.10.10.10-172.10.10.250
add name=pool_BackUp ranges=10.129.5.2-10.129.5.10
add name=dhcp_pool2 ranges=10.129.4.10-10.129.4.20
/ip dhcp-server
add address-pool=pool_BackUp lease-time=1d6h10m name=ghcp_BackUp
/ip hotspot
add address-pool=dhcp_pool2 addresses-per-mac=1 disabled=no idle-timeout=10m \
    keepalive-timeout=10m name=hotspot-server
/ppp profile
add name=Volgograd only-one=no use-encryption=yes
add local-address=172.10.10.1 name=l2tp remote-address=L2TP
add change-tcp-mss=yes local-address=172.22.16.205 name=karma
add change-tcp-mss=yes name=Fertimed use-compression=yes use-encryption=yes
add local-address=172.16.23.2 name=cherepovec remote-address=172.16.23.1
/interface l2tp-client
add allow=mschap1,mschap2 connect-to=37.151.106.206 ipsec-secret=\
    vNo3L7KMS9ABOg keepalive-timeout=160 name=del_L2TP_GenomAstana password=\
    MWKAyF5Kq0 profile=default user=L2TP-Medma
add allow=mschap1,mschap2 connect-to=85.29.138.145 ipsec-secret=\
    vNo3L7KMS9ABOg name=del_L2TP_GenomAstanaKaraganda password=gD0YAaO41uDdsW \
    profile=default user=L2TP-Medma
/interface sstp-client
add authentication=mschap2 connect-to=37.151.106.206:8443 disabled=no name=\
    SSTP_GenomAstana password=MWKAyF5Kq0 profile=default-encryption user=\
    SSTP-Memda verify-server-address-from-certificate=no
add authentication=mschap2 connect-to=195.151.31.254:4443 disabled=no \
    http-proxy=0.0.0.0:4443 max-mtu=1450 name=SSTP_MSK_CITILAB password=\
    NESLkgnnagufwey2312nAICUNGOL@25 profile=default-encryption user=medma
/queue type
add kind=pcq name=hotspot-pcq-upload pcq-classifier=src-address pcq-limit=\
    2000KiB pcq-rate=5M pcq-total-limit=20000KiB
add kind=pcq name=hotspot-pcq-download pcq-classifier=dst-address pcq-limit=\
    2000KiB pcq-rate=5M pcq-total-limit=20000KiB
/queue tree
add name=hotspot-upload packet-mark=upload parent=global queue=\
    hotspot-pcq-upload
add name=hotspot-download packet-mark=download parent=global queue=\
    hotspot-pcq-download
/snmp community
set [ find default=yes ] disabled=yes
add addresses=10.196.105.90/32,10.196.112.90/32 name=zbx-medma
/system logging action
add name=syslog remote=10.129.0.60 remote-port=9200 target=remote
/user group
set full policy="local,telnet,ssh,ftp,reboot,read,write,policy,test,winbox,pas\
    sword,web,sniff,sensitive,api,romon,dude,tikapp"
/caps-man manager
set enabled=yes
/interface bridge port
add bridge=VPN comment="Cisco SG350X-48" interface=ether1
add bridge=VPN interface=combo1
add bridge=VPN interface=ether7
add bridge=VPN interface=ether6
add bridge=VPN interface=vlan_4
add bridge=VPN interface=ether5
add bridge=VPN interface=sfp-sfpplus1
add bridge=VPN interface=ether3
add bridge=bridge_CitidocUral comment=\
    "to Citidok Ural (over Miralogic network)" interface=ether2
add bridge=VPN interface=ether4
/ip neighbor discovery-settings
set discover-interface-list=all
/interface bridge vlan
add bridge=VPN tagged=VPN,ether6,ether7 vlan-ids=105
add bridge=VPN tagged=VPN,ether1,ether5,ether6,ether7 vlan-ids=5
/interface l2tp-server server
set authentication=mschap2 enabled=yes ipsec-secret=123456789 use-ipsec=yes
/interface ovpn-server server
set certificate=certificate.crt_0
/interface pptp-server server
set enabled=yes
/interface sstp-server server
set enabled=yes
/ip address
add address=10.129.5.253/24 interface=vlan_5 network=10.129.5.0
add address=172.16.66.9/30 interface=bridge_CitidocUral network=172.16.66.8
add address=10.129.5.250/24 disabled=yes interface=VPN network=10.129.5.0
add address=10.196.105.253/24 interface=vlan_105 network=10.196.105.0
/ip arp
add address=10.129.0.85 interface=VPN mac-address=01:00:5E:7F:00:55
/ip dhcp-client
add
/ip dns
set allow-remote-requests=yes servers=77.88.8.8,8.8.8.8
/ip dns static
add address=10.7.0.1 name=medmasu_test_01
add address=172.22.0.2 name=fetch.karmawifi.ru
/ip firewall address-list
add address=172.26.2.0/24 list=Medma_OpenVpn
add address=10.129.0.0/22 list=Medma_Lan
add address=10.168.0.0/22 disabled=yes list=Delrus_Lan
add address=10.129.1.0 list="access_to mgmt"
add address=10.129.1.16 list="access_to mgmt"
add address=10.129.0.33 disabled=yes list="access_to mgmt"
add address=10.16.0.0/22 list=Medma_OpenVpn
add address=195.151.31.0/24 list=Citilab_Msk
add address=85.12.245.232 list=Citilab_Ekb
add address=5.165.26.60 list=Citilab_Ekb
add address=10.129.0.92 disabled=yes list="access_to mgmt"
add address=94.124.195.80/29 list=Citilab_Msk
add address=213.27.20.54 list=Medma_Genom
add address=176.213.141.88 list=Medma_Genom
add address=10.196.0.0/22 list=Medma_Lan
add address=minzdrav.gov.ru list=minzdrav.gov.ru
add address=10.196.20.0/24 list=Medma_Lan
add address=10.196.112.0/24 list=Medma_Lan
/ip firewall filter
add action=accept chain=input comment=Check_SNAT disabled=yes dst-port=11111 \
    log=yes log-prefix=SNAT_test protocol=tcp
add action=accept chain=input src-address-list=Medma_Lan
add action=accept chain=input comment="Allow input from Citillab-MSK" \
    src-address=195.151.31.5
add action=accept chain=input comment="Allow IPSEC from Citillab-UFA" \
    protocol=ipsec-esp src-address=77.79.187.181
add action=accept chain=forward comment="Allow IPSEC from Citillab-UFA" log=\
    yes src-address=10.40.1.0/24
add action=accept chain=input comment="Allow IPSEC from Citillab-UFA" log=yes \
    src-address=10.40.1.0/24
add action=accept chain=forward comment="LOG IPSEC from Citillab-MSK" \
    disabled=yes log=yes src-address=10.77.8.0/24
add action=accept chain=input comment="Allow IPSEC from Citillab-UFA" \
    dst-port=500,4500 protocol=udp src-address=77.79.187.181
add action=accept chain=input comment="1.1 Allow Established/Related Input" \
    connection-state=established,related,untracked
add action=accept chain=forward comment=\
    "1.2 Allow Established/Related Forward" connection-state=\
    established,related,untracked
add action=accept chain=input comment=Citilab_MSK_VPN_Site2Site_Inbound \
    src-address-list=Citilab_Msk
add action=accept chain=input comment=Citilab_EKB_VPN_Site2Site_Inbound \
    src-address-list=Citilab_Ekb
add action=accept chain=input comment="Sterilis VPN Site2Site_Inbound" \
    src-address=94.41.39.5
add action=accept chain=input comment="Sterilis VPN Site2Site_Inbound" \
    src-address=188.233.97.26
add action=accept chain=forward dst-port=51194 protocol=tcp
add action=accept chain=input comment="Genom Cherepovec L2TP" protocol=udp \
    src-address=178.69.128.150 src-port=500,1701,4500
add action=accept chain=input comment="Genom Cherepovec L2TP" protocol=\
    ipsec-esp src-address=178.69.128.150
add action=accept chain=input comment="allow snmp from zabbix" src-address=\
    10.196.20.90
add action=accept chain=input comment=NF_Sevastopol protocol=udp src-address=\
    37.139.109.12 src-port=500,4500,1701
add action=accept chain=input comment=NF_NaroFominsk protocol=udp \
    src-address=185.141.237.201 src-port=500,4500,1701
add action=accept chain=input comment="allow snmp from zabbix" disabled=yes \
    dst-port=161 protocol=udp src-address=10.196.20.90
add action=drop chain=input comment="1.3 Drop Invalid Input" \
    connection-state=invalid log=yes log-prefix=drop_invalid
add action=accept chain=input dst-address=10.129.4.0/24 src-address-list=\
    "access_to mgmt"
add action=accept chain=input comment="CityDocEkb L2TP" protocol=udp \
    src-address=91.191.234.118 src-port=500,4500,1701
add action=accept chain=forward dst-address=10.129.0.0/22 src-address=\
    10.66.0.0/22
add action=accept chain=forward dst-address=10.196.0.0/22 src-address=\
    10.66.0.0/22
add action=drop chain=input disabled=yes dst-address=10.129.4.0/24 \
    log-prefix=drop_manage_vlan
add action=accept chain=forward dst-address=10.129.4.0/24 log-prefix=\
    forward_manage_vlan
add action=accept chain=input comment="Allow Medma LAN" src-address=\
    10.129.0.0/22
add action=accept chain=input src-address=10.196.0.0/22
add action=accept chain=input src-address=10.196.105.90
add action=accept chain=input src-address=10.196.112.0/22
add action=accept chain=input comment="Allow External Ping" protocol=icmp
add action=accept chain=input comment="NF Tver L2TP" protocol=udp \
    src-address=80.246.66.10 src-port=500,4500,1701
add action=accept chain=input comment="NF Morshansk L2TP" protocol=udp \
    src-address=213.135.158.238 src-port=500,4500,1701
add action=accept chain=input protocol=ipsec-esp src-address=213.135.158.238
add action=accept chain=input comment=CitilabUfa protocol=udp src-address=\
    77.79.187.181 src-port=500,4500,1701
add action=accept chain=input protocol=ipsec-esp src-address=77.79.187.181
add action=accept chain=input comment="NF Habarovsk L2TP" protocol=udp \
    src-address=85.15.69.75 src-port=500,4500,1701
add action=accept chain=input protocol=ipsec-esp src-address=85.15.69.75
add action=accept chain=input comment="Palniks L2TP" protocol=udp \
    src-address=178.46.83.175 src-port=500,4500,1701
add action=accept chain=input protocol=ipsec-esp src-address=178.46.83.175
add action=accept chain=input comment="NF Svobodny L2TP" protocol=udp \
    src-address=79.105.116.249 src-port=500,4500,1701
add action=accept chain=input protocol=ipsec-esp src-address=79.105.116.249
add action=accept chain=input comment="Katlab Altayi L2TP" dst-port="" \
    protocol=udp src-address=31.43.217.107 src-port=500,4500,1701
add action=accept chain=input comment="IPSec Kaliningrad" dst-port="" log=yes \
    protocol=udp src-address=195.218.236.2 src-port=500,4500,1701,7968
add action=accept chain=input protocol=ipsec-esp src-address=178.69.128.150
add action=accept chain=input comment="NF Priozers L2TP" protocol=udp \
    src-address=176.117.211.139 src-port=500,4500,1701
add action=accept chain=input protocol=icmp src-address=176.117.211.139
add action=accept chain=input comment="Citidok Kazan L2TP" protocol=udp \
    src-address=94.180.255.78 src-port=500,4500,1701
add action=accept chain=input protocol=icmp src-address=94.180.255.78
add action=accept chain=input comment="NF Serpuhov L2TP" protocol=udp \
    src-address=79.111.247.62 src-port=500,4500,1701
add action=accept chain=input protocol=icmp src-address=79.111.247.62
add action=accept chain=input comment="NF Pyatigorsk L2TP" protocol=udp \
    src-address=185.253.101.66 src-port=500,4500,1701
add action=accept chain=input protocol=icmp src-address=185.253.101.66
add action=accept chain=input comment="L2TP Kras13" protocol=udp src-address=\
    89.23.109.10 src-port=500,4500,1701
add action=accept chain=input protocol=ipsec-esp src-address=89.23.109.10
add action=accept chain=forward comment="IPSEC IN" ipsec-policy=in,ipsec
add action=accept chain=forward comment="IPSEC OUT" ipsec-policy=out,ipsec
add action=accept chain=input comment="GenomRostov L2TP" protocol=udp \
    src-address=213.135.158.238 src-port=500,4500,1701
add action=accept chain=input comment="NF Morshansk L2TP" protocol=udp \
    src-address=213.27.20.54 src-port=500,4500,1701
add action=accept chain=input comment="NF StOskol L2TP" protocol=udp \
    src-address=213.135.80.192 src-port=500,4500,1701
add action=accept chain=input comment="NF Moscow L2TP" protocol=udp \
    src-address=95.64.141.118 src-port=500,4500,1701
add action=accept chain=input protocol=ipsec-esp src-address=95.64.141.118
add action=accept chain=input comment="OVPN CFM" disabled=yes dst-address=\
    10.196.20.0/24
add action=accept chain=input disabled=yes src-address=5.172.17.25
add action=accept chain=input disabled=yes src-address=10.66.12.0/24
add action=accept chain=forward comment=NF_NNovosibirsk2 dst-address=\
    10.196.200.1 dst-port=5060,5061,10000-20000,5160,5161 protocol=udp \
    src-address=10.54.1.2
add action=accept chain=forward dst-address=10.54.1.2 dst-port=\
    5060,5061,10000-20000,5160,5161 protocol=udp src-address=10.196.200.1
add action=accept chain=forward disabled=yes dst-address=10.196.200.1 \
    protocol=udp src-address=10.2.0.151
add action=accept chain=forward disabled=yes dst-address=10.2.0.151 protocol=\
    udp src-address=10.196.200.1
add action=accept chain=input disabled=yes dst-port=11111 log=yes log-prefix=\
    SNAT_CHECK_ protocol=tcp
add action=drop chain=input comment="Drop All" log-prefix=drop
add action=drop chain=forward comment="Drop All" connection-nat-state=!dstnat \
    disabled=yes log=yes log-prefix=drop
add action=accept chain=input comment="Allow Winbox" disabled=yes dst-port=\
    8291 protocol=tcp
add action=drop chain=forward connection-state=! disabled=yes
/ip firewall nat
add action=passthrough chain=unused-hs-chain comment=\
    "place hotspot rules here" disabled=yes
add action=accept chain=srcnat dst-address=10.69.0.0/22 log-prefix=\
    !_SRCnat_citilab_ src-address=10.129.0.0/22
add action=accept chain=srcnat dst-address=10.10.0.0/22 log-prefix=\
    !_SRCnat_citilab_ src-address=10.129.0.0/22
add action=accept chain=srcnat dst-address=10.77.8.0/24 log-prefix=\
    !_SRCnat_citilab_ src-address=10.129.0.0/22
add action=accept chain=srcnat dst-address=10.77.8.0/24 log-prefix=\
    !_SRCnat_citilab_ src-address=10.129.5.0/24
add action=accept chain=srcnat dst-address=10.77.8.0/24 log-prefix=\
    !_SRCnat_citilab_ src-address=10.129.15.48/30
add action=accept chain=srcnat dst-address=10.10.10.0/24 log-prefix=\
    !_SRCnat_citilab_ src-address=10.129.15.48/30
add action=accept chain=srcnat dst-address=10.10.0.0/22 log-prefix=\
    !_SRCnat_citilab_ src-address=10.129.15.48/30
add action=accept chain=srcnat dst-address=10.10.0.0/22 log-prefix=\
    !_SRCnat_citilab_ src-address=10.129.12.0/24
add action=accept chain=srcnat dst-address=10.10.10.0/24 log-prefix=\
    !_SRCnat_citilab_ src-address=10.129.0.0/22
add action=accept chain=srcnat dst-address=10.40.1.0/24 log-prefix=\
    !_SRCnat_citilab_ src-address=10.129.0.0/22
add action=accept chain=srcnat dst-address=10.40.1.0/24 log-prefix=\
    !_SRCnat_citilab_ src-address=10.129.5.0/24
add action=masquerade chain=srcnat src-address=172.10.10.0/24
add action=masquerade chain=srcnat dst-address=194.0.219.107 src-address=\
    10.82.0.0/24
add action=dst-nat chain=dstnat disabled=yes dst-port=51194 log=yes \
    log-prefix=ovpn protocol=tcp to-addresses=10.129.0.95 to-ports=51194
add action=netmap chain=dstnat disabled=yes dst-port=4500 log=yes protocol=\
    udp src-address=85.140.10.101 to-addresses=10.129.1.116 to-ports=4500
add action=netmap chain=dstnat disabled=yes dst-port=500 protocol=udp \
    src-address=85.140.10.101 to-addresses=10.129.1.116 to-ports=500
add action=netmap chain=dstnat disabled=yes dst-port=1701 log=yes protocol=\
    udp src-address=85.140.10.101 to-addresses=10.129.1.116 to-ports=1701
/ip firewall service-port
set sip disabled=yes
/ip hotspot walled-garden
add comment="place hotspot rules here" disabled=yes
add comment="MANUAL yandex mc.yandex.ru" dst-host=mc.yandex.ru
add comment="MANUAL google *google-analytics*" dst-host=*google-analytics*
add comment="MANUAL medma wifi.medma.su" dst-host=wifi.medma.su
add comment="MANUAL medma nephroline.ru" dst-host=nephroline.ru
/ip hotspot walled-garden ip
add action=accept comment="MANUAL yandex mc.yandex.ru" disabled=no dst-host=\
    mc.yandex.ru dst-port=443 protocol=tcp
add action=accept comment="MANUAL google *google-analytics*" disabled=no \
    dst-host=*google-analytics* dst-port=443 protocol=tcp
add action=accept comment="MANUAL google 8.8.8.8" disabled=no dst-address=\
    8.8.8.8
add action=accept comment="MANUAL medma wifi.medma.su" disabled=no dst-host=\
    wifi.medma.su dst-port=443 protocol=tcp
add action=accept comment="MANUAL medma nephroline.ru" disabled=no dst-host=\
    nephroline.ru dst-port=443 protocol=tcp
/ip ipsec identity
add peer=Genom_Cherepovets remote-id=ignore secret=B@racudaB@racuda
add peer=IKE_Citilab_Ekb remote-id=ignore secret=Ur4MIP3KFfpWQ4S2ycT7
add peer=Sterilis_main secret=Naj9jq5ETExk6I3G
add peer=Citidok-EKB remote-id=ignore secret=o3lH35Ts6vN4ny5nBsw2
add peer=Genom_Volgograd secret=RstiFN2AcpNQZ6cR
add peer=MSK-MIKROTIK secret=SMFklGFLKNHjbb13laoaahhfi1245sfshjkkl
add disabled=yes peer=MSK-MIKROTIK secret=M6XGOYn8DiOxmQYpM2IH12212@!@33
add peer=Genom_Kaliningrad remote-id=ignore secret=B@racudaB@racuda
add peer=UG-CitilabUfa secret=LQ@hEp#0yBEIbW
add peer=Magnolia secret=EEEsVQPobzMDZ
/ip ipsec policy
add disabled=yes dst-address=10.77.8.0/24 peer=MSK-MIKROTIK2 proposal=\
    MSK-MIKROTIK src-address=10.129.0.0/22 tunnel=yes
add disabled=yes dst-address=10.40.1.0/24 peer=UG-CitilabUfa proposal=\
    UG-CitilabUfa src-address=10.129.0.0/22 tunnel=yes
add disabled=yes dst-address=10.40.1.0/24 peer=UG-CitilabUfa proposal=\
    UG-CitilabUfa src-address=10.129.5.0/24 tunnel=yes
add disabled=yes dst-address=10.77.8.0/24 peer=MSK-MIKROTIK proposal=\
    MSK-MIKROTIK src-address=10.129.0.0/22 tunnel=yes
add disabled=yes dst-address=10.10.10.0/24 peer=MSK-MIKROTIK2 proposal=\
    MSK-MIKROTIK src-address=10.129.0.0/22 tunnel=yes
add disabled=yes dst-address=10.10.10.0/24 peer=MSK-MIKROTIK proposal=\
    MSK-MIKROTIK src-address=10.129.0.0/22 tunnel=yes
add disabled=yes dst-address=10.77.8.0/24 peer=MSK-MIKROTIK proposal=\
    MSK-MIKROTIK src-address=10.129.5.0/24 tunnel=yes
add disabled=yes dst-address=10.77.8.0/24 peer=MSK-MIKROTIK2 proposal=\
    MSK-MIKROTIK src-address=10.129.5.0/24 tunnel=yes
add disabled=yes dst-address=10.77.8.0/24 peer=MSK-MIKROTIK proposal=\
    MSK-MIKROTIK src-address=10.129.15.48/30 tunnel=yes
add disabled=yes dst-address=10.77.8.0/24 peer=MSK-MIKROTIK2 proposal=\
    MSK-MIKROTIK src-address=10.129.15.48/30 tunnel=yes
add disabled=yes dst-address=10.10.0.0/22 peer=MSK-MIKROTIK proposal=\
    MSK-MIKROTIK src-address=10.129.15.48/30 tunnel=yes
add disabled=yes dst-address=10.10.0.0/22 peer=MSK-MIKROTIK2 proposal=\
    MSK-MIKROTIK src-address=10.129.15.48/30 tunnel=yes
add disabled=yes dst-address=10.10.10.0/24 peer=MSK-MIKROTIK proposal=\
    MSK-MIKROTIK src-address=10.129.15.48/30 tunnel=yes
add disabled=yes dst-address=10.10.10.0/24 peer=MSK-MIKROTIK2 proposal=\
    MSK-MIKROTIK src-address=10.129.15.48/30 tunnel=yes
add disabled=yes dst-address=10.10.0.0/22 peer=MSK-MIKROTIK proposal=\
    MSK-MIKROTIK src-address=10.129.0.0/22 tunnel=yes
add disabled=yes dst-address=10.10.0.0/22 peer=MSK-MIKROTIK2 proposal=\
    MSK-MIKROTIK src-address=10.129.0.0/22 tunnel=yes
add disabled=yes dst-address=10.10.0.0/22 peer=MSK-MIKROTIK proposal=\
    MSK-MIKROTIK src-address=10.129.12.0/24 tunnel=yes
add disabled=yes dst-address=10.10.0.0/22 peer=MSK-MIKROTIK2 proposal=\
    MSK-MIKROTIK src-address=10.129.12.0/24 tunnel=yes
add disabled=yes dst-address=10.35.0.0/22 peer=Genom_Cherepovets proposal=\
    Genoms src-address=10.129.0.0/22 tunnel=yes
add disabled=yes dst-address=10.39.0.0/22 peer=Genom_Kaliningrad src-address=\
    10.129.0.0/22 tunnel=yes
add disabled=yes dst-address=10.69.0.0/16 level=unique peer=IKE_Citilab_Ekb \
    proposal=Citilab_Ekb src-address=10.129.0.0/22 tunnel=yes
add disabled=yes dst-address=10.2.11.0/24 peer=Sterilis_main src-address=\
    10.129.0.0/22 tunnel=yes
add disabled=yes dst-address=10.66.0.0/22 level=unique peer=Citidok-EKB \
    proposal=Citidoc src-address=10.129.0.0/22 tunnel=yes
/ip proxy
set cache-administrator=info@medmagroup.ru max-cache-size=none
/ip proxy access
add action=deny method=GET path=/generate_204 redirect-to=\
    hotspot.medma.su/login
add action=deny dst-host=www.msftncsi.com method=GET path=/ncsi.txt \
    redirect-to=\
    "hotspot.medma.su/login\?dst=http%3A%2F%2Fwww.msftncsi.com%2Fncsi.txt"
/ip route
add distance=10 gateway=10.196.105.254
add comment=Karasi disabled=yes distance=1 dst-address=10.0.0.0/24 gateway=\
    10.129.0.250
add disabled=yes distance=1 dst-address=10.1.2.0/24 gateway=10.129.0.254
add distance=1 dst-address=10.2.0.0/24 gateway=172.16.2.1
add distance=1 dst-address=10.2.1.0/24 gateway=172.16.2.30
add distance=1 dst-address=10.2.2.0/24 gateway=172.16.2.16
add distance=1 dst-address=10.2.2.0/24 gateway=172.16.2.20
add distance=1 dst-address=10.2.3.0/24 gateway=172.16.3.10
add distance=1 dst-address=10.2.4.0/24 gateway=172.16.2.10
add distance=1 dst-address=10.2.5.0/24 gateway=172.16.2.26
add distance=1 dst-address=10.2.7.0/24 gateway=172.16.2.22
add distance=1 dst-address=10.2.8.0/24 gateway=172.16.2.19
add check-gateway=ping distance=1 dst-address=10.2.11.0/24 gateway=VPN
add disabled=yes distance=1 dst-address=10.2.11.0/24 gateway=172.16.11.1
add distance=1 dst-address=10.7.0.0/24 gateway=172.16.7.1
add distance=1 dst-address=10.8.0.0/24 gateway=172.16.34.10
add comment="Route to Citilab Msk" distance=1 dst-address=10.10.0.0/22 \
    gateway=172.20.1.1
add comment="Route to Citilab Msk" distance=1 dst-address=10.10.10.0/24 \
    gateway=172.20.1.1
add distance=1 dst-address=10.16.0.0/22 gateway=172.16.40.1
add distance=1 dst-address=10.22.1.0/24 gateway=172.16.22.1
add distance=1 dst-address=10.22.3.0/24 gateway=L2TP_NF_Biisk2
add distance=1 dst-address=10.26.0.0/24 gateway=172.16.26.1
add distance=1 dst-address=10.26.1.0/24 gateway=172.16.26.11
add distance=1 dst-address=10.27.0.0/24 gateway=172.16.27.2
add disabled=yes distance=1 dst-address=10.28.0.0/24 gateway=*F005A7
add distance=1 dst-address=10.29.0.0/24 gateway=172.16.29.1
add distance=1 dst-address=10.31.0.0/24 gateway=172.16.31.2
add distance=1 dst-address=10.34.0.0/22 gateway=172.16.34.10
add distance=1 dst-address=10.34.4.0/24 gateway=VPN
add distance=1 dst-address=10.35.0.0/22 gateway=172.16.22.5
add distance=1 dst-address=10.35.4.0/24 gateway=172.16.35.5
add distance=1 dst-address=10.39.0.0/22 gateway=172.16.39.1
add distance=1 dst-address=10.40.1.0/24 gateway=VPN
add distance=1 dst-address=10.47.0.0/24 gateway=172.16.47.1
add distance=1 dst-address=10.48.0.0/24 gateway=172.16.48.10
add distance=1 dst-address=10.50.0.0/24 gateway=172.16.50.1
add distance=1 dst-address=10.50.1.0/24 gateway=172.16.50.3
add distance=1 dst-address=10.50.2.0/24 gateway=172.16.50.5
add distance=1 dst-address=10.50.3.0/24 gateway=172.16.50.10
add distance=1 dst-address=10.50.4.0/22 gateway=172.16.50.12
add distance=1 dst-address=10.50.8.0/22 gateway=172.16.50.25
add distance=1 dst-address=10.50.12.0/22 gateway=172.16.50.19
add distance=1 dst-address=10.50.16.0/24 gateway=172.16.50.30
add distance=1 dst-address=10.53.0.0/24 gateway=172.16.53.1
add distance=1 dst-address=10.54.0.0/24 gateway=172.16.54.1
add distance=1 dst-address=10.54.1.0/24 gateway=172.16.54.1
add distance=1 dst-address=10.61.0.0/22 gateway=172.16.61.3
add comment="Route to Citidoc-Ural over Miralogic p2p" distance=1 \
    dst-address=10.66.0.0/22 gateway=172.16.66.10
add comment="Route to Citidoc-Ural over IPSec" disabled=yes distance=1 \
    dst-address=10.66.0.0/22 gateway=VPN
add distance=1 dst-address=10.66.5.0/24 gateway=172.16.66.1
add distance=1 dst-address=10.66.6.0/24 gateway=172.16.66.13
add comment="Route to CFM" disabled=yes distance=1 dst-address=10.66.12.0/24 \
    gateway=10.200.2.1
add distance=1 dst-address=10.68.0.0/24 gateway=172.16.68.4
add comment="Route to Citilab Ekb" disabled=yes distance=1 dst-address=\
    10.69.0.0/16 gateway=VPN
add distance=1 dst-address=10.70.0.0/22 gateway=172.16.70.1
add disabled=yes distance=1 dst-address=10.70.0.0/22 gateway=\
    R_L2TP_GenomTomsk_Rostelecom
add comment="Route to Citilab Msk" distance=1 dst-address=10.77.8.0/24 \
    gateway=172.20.1.1
add distance=1 dst-address=10.82.0.0/24 gateway=172.16.82.20
add distance=1 dst-address=10.82.1.0/24 gateway=172.16.82.10
add distance=1 dst-address=10.82.2.0/24 gateway=172.16.82.1
add distance=1 dst-address=10.129.0.0/22 gateway=10.129.5.254
add distance=1 dst-address=10.129.12.0/24 gateway=10.129.5.254
add comment="Route to Delrus_Ekb" disabled=yes distance=1 dst-address=\
    10.168.0.0/22 gateway=10.129.0.254
add distance=1 dst-address=10.169.0.0/22 gateway=172.16.169.1
add distance=1 dst-address=10.196.0.0/22 gateway=10.196.105.254
add distance=1 dst-address=10.196.19.0/24 gateway=10.196.105.254
add distance=1 dst-address=10.196.20.0/24 gateway=10.196.105.254
add distance=1 dst-address=10.196.21.0/24 gateway=10.196.105.254
add distance=1 dst-address=10.196.112.0/24 gateway=10.196.105.254
add distance=1 dst-address=10.196.200.0/24 gateway=10.196.105.254
add distance=1 dst-address=10.201.0.0/22 gateway=172.16.201.1
add distance=1 dst-address=10.201.4.0/24 gateway=172.16.201.1
add distance=1 dst-address=10.201.5.0/24 gateway=172.16.201.1
add comment=sudrf.ru distance=1 dst-address=79.133.87.8/32 gateway=\
    L2TP_Kaliningrad_Dialog
add comment=arbitr.ru distance=1 dst-address=79.133.87.42/32 gateway=\
    L2TP_Kaliningrad_Dialog
add comment=sudrf.ru distance=1 dst-address=84.42.111.0/24 gateway=\
    L2TP_Kaliningrad_Dialog
add comment=vsrf.ru distance=1 dst-address=95.173.156.0/24 gateway=\
    L2TP_Kaliningrad_Dialog
add distance=1 dst-address=172.16.61.3/32 gateway=10.196.105.253
add check-gateway=ping distance=1 dst-address=172.26.2.0/24 gateway=\
    10.129.5.254
add check-gateway=ping distance=1 dst-address=172.26.10.0/24 gateway=\
    10.129.5.254
add distance=1 dst-address=185.129.103.0/32 gateway=L2TP_Kaliningrad_Dialog
add comment=rts-tender.ru distance=1 dst-address=185.179.85.0/24 gateway=\
    L2TP_Kaliningrad_Dialog
add comment=dellin.ru distance=1 dst-address=188.68.188.69/32 gateway=\
    L2TP_Kaliningrad_Dialog
add disabled=yes distance=1 dst-address=192.168.0.0/22 gateway=10.200.2.1
add distance=1 dst-address=192.168.13.17/32 gateway=172.16.139.100
add distance=1 dst-address=192.168.52.0/24 gateway=172.16.52.20
add comment="route to AIS MIR (Citidoc-Ural)" disabled=yes distance=1 \
    dst-address=192.168.138.0/24 gateway=*31
add comment=online.taxcom.ru distance=1 dst-address=193.0.214.0/24 gateway=\
    L2TP_Kaliningrad_Dialog
add distance=1 dst-address=213.24.64.0/24 gateway=L2TP_Kaliningrad_Dialog
/ip service
set telnet disabled=yes
set ftp disabled=yes
set www disabled=yes
set ssh address=10.196.0.0/22,10.196.20.0/24,10.196.112.0/24 port=8822
set api address=10.196.0.0/22,10.196.20.0/22,10.196.112.0/24
set winbox address=\
    10.129.0.0/22,10.129.4.0/24,10.196.0.0/22,10.196.112.0/24,195.151.31.0/24
set api-ssl disabled=yes
/ip ssh
set allow-none-crypto=yes forwarding-enabled=remote
/ip traffic-flow
set cache-entries=32k enabled=yes
/ip traffic-flow target
add dst-address=10.196.20.149 port=9996
/lcd
set time-interval=hour
/ppp secret
add disabled=yes local-address=172.16.30.1 name=USR_cherepovec password=\
    15724896Qq profile=default-encryption remote-address=172.16.30.2 service=\
    l2tp
add disabled=yes name=Muzrukov_V password=1D8zHfgl profile=l2tp service=l2tp
add disabled=yes local-address=172.16.27.1 name=NF_Habarovsk password=\
    BQ3NSe2RtX1 profile=default-encryption remote-address=172.16.27.2 \
    service=l2tp
add disabled=yes local-address=172.16.26.10 name=NF_Pyatigorsk password=\
    bz2S8cIBExOn4dL1jtHT profile=default-encryption remote-address=\
    172.16.26.11 service=l2tp
add disabled=yes name=Citilab_MSK_Secret password=33Rjhjds profile=karma
add disabled=yes local-address=172.16.28.1 name=NF_Svobodny password=\
    D4bvNuBVA2 profile=default-encryption remote-address=172.16.28.2 service=\
    l2tp
add local-address=172.16.66.12 name=Palniks password=BQ3NSe2RtX profile=\
    default-encryption remote-address=172.16.66.13 service=l2tp
add disabled=yes name=Citilab_krasnoyarsk password=bbtOqGhyKD service=sstp
add local-address=172.16.68.3 name=NF_Morshansk password=EnUjMzUp1usy \
    profile=default-encryption remote-address=172.16.68.4 service=l2tp
add disabled=yes name=NF_Uchaly password=IGtYZJSGfRUc0zbs profile=\
    default-encryption service=l2tp
add disabled=yes local-address=172.16.201.2 name=Genom_Astana password=\
    BFsg0S05j3 profile=default-encryption remote-address=172.16.201.1 \
    service=l2tp
add disabled=yes local-address=172.16.82.2 name=NF_Sevastopol password=\
    uxXbApBpM5 profile=default-encryption remote-address=172.16.82.1 service=\
    l2tp
add disabled=yes local-address=172.16.31.1 name=NF_StOskol password=\
    MzzjyMAt49la1 profile=default-encryption remote-address=172.16.31.2 \
    service=l2tp
add comment="NF \D0\E0\E4\F3\E6\ED\EE\E5" local-address=172.16.50.6 name=\
    NF_Moscow password=qG2yB7vkFJUO7qw profile=default-encryption \
    remote-address=172.16.50.5 service=l2tp
/radius
add accounting-port=17772 address=89.108.106.171 authentication-port=17771 \
    require-message-auth=no secret=fqyyAuRsy6mY service=hotspot timeout=500ms
/snmp
set contact=it@medma.su enabled=yes location="Posadskaya 23 Server room CCR" \
    trap-community=zbx-medma trap-generators="" trap-target=10.196.105.90 \
    trap-version=2
/system clock
set time-zone-autodetect=no time-zone-name=Asia/Yekaterinburg
/system identity
set name="MEDMA-CCR1009-7G (VPN)"
/system logging
add disabled=yes topics=l2tp
add action=syslog topics="critical,backup,info,certificate,event,firewall,heal\
    th,e-mail,account,debug,error,warning"
add action=syslog topics=error
add action=syslog topics=warning
add disabled=yes topics="critical,backup,info,certificate,event,firewall,healt\
    h,e-mail,account,debug,error,warning"
add action=syslog topics=info
add action=syslog topics=ipsec
add prefix=info topics=info
add disabled=yes prefix=debug topics=debug
/system ntp client
set enabled=yes primary-ntp=82.146.42.44 secondary-ntp=93.191.12.44
/system package update
set channel=long-term
/system scheduler
add comment="Check Login Task" interval=1m name=CheckLogin on-event=\
    CheckLogin policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive start-date=\
    jan/01/1970 start-time=00:00:33
add interval=1d name=daily_UpdateRouterOS on-event=UpdateRouterOS policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon \
    start-date=sep/28/2026 start-time=03:00:00
add interval=1d name=daily_UpgradeFirmware on-event=UpgradeFirmware policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon \
    start-date=sep/28/2026 start-time=03:30:00
/system script
add dont-require-permissions=no name=UpdateRouterOS owner=ansible policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon source="#\
    ##################\
    \n# UpdateRouterOS\
    \n###################\
    \n\
    \n# Checking the UpgradeAllowed file\
    \n# If it exists, updates are allowed\
    \n\
    \n:local fileName \"UpgradeAllowed\";\
    \n:local UpgradeAllowed;\
    \n\
    \n:if ([:len [/file find name=\$fileName]] > 0) do={\
    \n  :set \$UpgradeAllowed \"yes\";\
    \n} else={\
    \n  :set \$UpgradeAllowed \"no\";\
    \n}\
    \n\
    \n\
    \n:log info \"UpgradeAllowed: \$UpgradeAllowed\";\
    \n\
    \n:if ( \$UpgradeAllowed = \"no\" ) do={ \
    \n  :error \"Update not allowed!!!\";\
    \n}\
    \n\
    \n:log warning \"Checking new version RouterOS...\";\
    \n/system package update\
    \ncheck-for-updates once\
    \n:delay 5s;\
    \n:if ( [get status] = \"System is already up to date\") do={ \
    \n:log warning \"Installed last RouterOS version, skip upgrading\";\
    \n}\
    \n:if ( [get status] = \"New version is available\") do={ \
    \n   :log warning \"Attention! New version of RouterOS is available!\";\
    \n   :delay 2s;\
    \n   /system package update download;\
    \n   :delay 10s;\
    \n   /system package update install;\
    \n   :log warning \"Updated!!!\";\
    \n}\
    \n"
add dont-require-permissions=no name=UpgradeFirmware owner=ansible policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon source="#\
    ##################\
    \n# UpgradeFirmware\
    \n###################\
    \n\
    \n# Checking the UpgradeAllowed file\
    \n# If it exists, updates are allowed\
    \n:local fileName \"UpgradeAllowed\";\
    \n:local UpgradeAllowed;\
    \n\
    \n:if ([:len [/file find name=\$fileName]] > 0) do={\
    \n  :set \$UpgradeAllowed \"yes\";\
    \n} else={\
    \n  :set \$UpgradeAllowed \"no\";\
    \n}\
    \n\
    \n:log info \"UpgradeAllowed: \$UpgradeAllowed\"\
    \n\
    \n:if ( \$UpgradeAllowed = \"no\" ) do={ \
    \n  :error \"Upgrade not allowed!!!\";\
    \n}\
    \n\
    \n:log warning \"Checking new firmware...\";\
    \n\
    \n:local currver [/system routerboard get current-firmware];\
    \n:local upgrver [/system routerboard get upgrade-firmware];\
    \n\
    \n:log info \"current-firmware: \$currver\";\
    \n:log info \"upgrade-firmware: \$upgrver\";\
    \n\
    \n:if ( \$currver = \$upgrver ) do={ \
    \n   :log warning \"Installed last firmware version, skip upgrading\";\
    \n} else={\
    \n   :log warning \"Attention! New version of firmware is available!\";\
    \n   :delay 2s;\
    \n   /system routerboard upgrade;\
    \n   /system reboot;\
    \n}\
    \n"
/tool bandwidth-server
set enabled=no
/tool sniffer
set file-name=cfm filter-interface=OVPN_CFM filter-ip-address=10.66.12.125/32 \
    filter-mac-protocol=0
