# sep/24/2026 14:59:38 by RouterOS 6.49.21
# software id = ARTE-Y36U
#
# model = 2011UiAS
# serial number = 6088056D9A6A
/interface l2tp-server
add name=l2tp-Medma user=UK_Medma
/interface bridge
add fast-forward=no name=BR1 protocol-mode=stp
/interface ethernet
set [ find default-name=ether1 ] comment=RT speed=100Mbps
set [ find default-name=ether2 ] speed=100Mbps
set [ find default-name=ether3 ] speed=100Mbps
set [ find default-name=ether4 ] speed=100Mbps
set [ find default-name=ether5 ] speed=100Mbps
set [ find default-name=ether6 ] advertise=\
    10M-half,10M-full,100M-half,100M-full,1000M-half,1000M-full
set [ find default-name=ether7 ] advertise=\
    10M-half,10M-full,100M-half,100M-full,1000M-half,1000M-full
set [ find default-name=ether8 ] advertise=\
    10M-half,10M-full,100M-half,100M-full,1000M-half,1000M-full
set [ find default-name=ether9 ] advertise=\
    10M-half,10M-full,100M-half,100M-full,1000M-half,1000M-full
set [ find default-name=ether10 ] advertise=\
    10M-half,10M-full,100M-half,100M-full,1000M-half,1000M-full comment=DomRu \
    poe-out=off
/interface pppoe-client
add disabled=no interface=ether1 keepalive-timeout=60 name=RT password=\
    Efvfzbmu use-peer-dns=yes user=312164-1@lpc
/interface ipip
add allow-fast-path=no local-address=213.109.13.205 name=\
    "MSK_Tunnel_MGTS(MSK)_DomRU(LIP)" remote-address=95.165.222.206
add allow-fast-path=no local-address=195.34.241.74 name=\
    "MSK_Tunnel_MGTS(MSK)_RT(LIP)" remote-address=95.165.222.206
add allow-fast-path=no local-address=213.109.13.205 name=\
    "MSK_Tunnel_TushinoTelecom(MSK)_DomRU(LIP)" remote-address=89.250.3.66
add allow-fast-path=no local-address=195.34.241.74 name=\
    "MSK_Tunnel_TushinoTelecom(MSK)_RT(LIP)" remote-address=89.250.3.66
add allow-fast-path=no disabled=yes local-address=213.109.13.205 name=vitro \
    remote-address=31.28.31.227
/interface wireless security-profiles
set [ find default=yes ] supplicant-identity=MikroTik
/ip firewall layer7-protocol
add name=DropSIP regexp=.*MikrotikLip/drop_sip_conn
/ip ipsec profile
add dh-group=modp1024 name=profile_1
add dh-group=modp1024 dpd-interval=1m dpd-maximum-failures=2 lifetime=8h \
    name=PROF1
/ip ipsec peer
add address=82.149.214.190/32 comment=newmos disabled=yes local-address=\
    213.109.13.205 name=peer1 profile=PROF1
/ip ipsec proposal
set [ find default=yes ] enc-algorithms=aes-128-cbc
add enc-algorithms=3des name=PROP1
/ip pool
add name=dhcp_pool1 ranges=192.168.4.101-192.168.4.150
add name=dhcp_pool2 ranges=10.48.0.51-10.48.0.150
/ip dhcp-server
add address-pool=dhcp_pool2 disabled=no interface=BR1 lease-time=1d name=\
    dhcp1
/ppp profile
add change-tcp-mss=yes local-address=192.168.4.254 name=pptpin \
    remote-address=dhcp_pool1 use-compression=no use-encryption=yes
/snmp community
set [ find default=yes ] addresses=0.0.0.0/0
add addresses=::/0 name=zbx-medma
/interface bridge port
add bridge=BR1 hw=no interface=ether6
add bridge=BR1 hw=no interface=ether7
add bridge=BR1 hw=no interface=ether8
add bridge=BR1 hw=no interface=ether9
add bridge=BR1 hw=no interface=ether5
add bridge=BR1 hw=no interface=ether4
add bridge=BR1 interface=ether3
add bridge=BR1 interface=ether2
/ip neighbor discovery-settings
set discover-interface-list=all
/interface l2tp-server server
set authentication=mschap1,mschap2 enabled=yes ipsec-secret=vkbq0Vw81GgRbG \
    use-ipsec=yes
/interface pptp-server server
set default-profile=pptpin enabled=yes
/ip address
add address=192.168.4.254/24 interface=BR1 network=192.168.4.0
add address=213.109.13.205/20 comment=DomRu interface=ether10 network=\
    213.109.0.0
add address=10.48.0.1/24 interface=BR1 network=10.48.0.0
add address=172.16.49.2/29 interface="MSK_Tunnel_MGTS(MSK)_DomRU(LIP)" \
    network=172.16.49.0
add address=172.16.50.2/29 interface=\
    "MSK_Tunnel_TushinoTelecom(MSK)_DomRU(LIP)" network=172.16.50.0
add address=172.16.48.2/29 interface="MSK_Tunnel_MGTS(MSK)_RT(LIP)" network=\
    172.16.48.0
add address=172.16.47.2/29 interface="MSK_Tunnel_TushinoTelecom(MSK)_RT(LIP)" \
    network=172.16.47.0
add address=10.48.8.1/24 interface=BR1 network=10.48.8.0
add address=213.109.13.205/20 disabled=yes interface=ether1 network=\
    213.109.0.0
/ip dhcp-server lease
add address=10.48.0.84 client-id=1:30:10:b3:15:4a:8d mac-address=\
    30:10:B3:15:4A:8D server=dhcp1
add address=10.48.0.101 mac-address=00:00:00:00:00:3A server=dhcp1
add address=10.48.0.88 client-id=1:48:da:35:6f:db:e1 mac-address=\
    48:DA:35:6F:DB:E1 server=dhcp1
/ip dhcp-server network
add address=10.48.0.0/24 dns-server=10.48.0.10,10.48.0.1 gateway=10.48.0.1
/ip dns
set allow-remote-requests=yes servers=77.88.8.8
/ip dns static
add address=192.168.1.3 name=VITRO-HOST ttl=1h
add address=192.168.4.1 name=in.lip.vitroclinic.ru
add address=192.168.4.1 name=lip.vitroclinic.ru
add address=10.48.0.101 name=srv-ub-1c-lip
add address=10.48.0.101 name=srv-ub-1c-lip.local
add address=10.48.0.101 name=srv-ub-1c-lip.vitro.local
add address=195.218.204.197 name=im.medma.su
add address=2.59.160.133 name=srv-web-03.medma.su
/ip firewall address-list
add address=95.31.2.81 list=serviceip
add address=213.109.13.205 list=WANip
add address=31.28.31.227 list=serviceip
add address=192.168.0.0/21 list=serviceip
add address=46.226.102.58 list=serviceip
add address=195.239.17.94 comment="dialab bee" list=serviceip
add address=31.28.7.80 comment=dialab list=serviceip
add address=194.67.78.75 list=serviceip
add address=194.67.78.75 comment=mosupro list=polly_ext_allow
add address=194.58.118.197 comment=mosuwoki list=polly_ext_allow
add address=89.108.65.236 comment=lipuwoki list=polly_ext_allow
add address=80.78.240.219 comment=terminal list=polly_ext_allow
add address=80.78.240.219 comment=terminal list=ssh_ext_allow
add address=194.67.78.75 comment=mosupro list=acdr_ext_allow
add address=195.218.204.192/27 list="UK Medma"
add address=10.129.5.0/24 list="UK Medma"
add address=2.59.160.0/24 list="UK Medma"
add address=10.129.0.0/22 list="UK Medma"
add address=195.20.140.0/24 list="UK Medma"
add address=89.250.3.66 list=MSK
add address=95.165.222.206 list=MSK
add address=91.78.196.148 list=TEST_SIP
add address=91.79.193.18 list=TEST_SIP
add address=91.78.190.0 list=TEST_SIP
add address=46.163.178.247 list=TEST_SIP
add address=10.129.0.0/22 list=TEST_SIP
add address=185.11.134.58 list=TEST_SIP
add address=91.78.193.169 list=TEST_SIP
add address=93.90.225.238 list="UK Medma"
add address=10.196.19.0/24 list="UK Medma"
add address=10.196.0.0/22 list="UK Medma"
add address=10.196.20.0/24 list="UK Medma"
add address=10.196.112.0/24 list="UK Medma"
add address=188.187.236.27 list=TEST_SIP
/ip firewall filter
add action=drop chain=forward disabled=yes dst-address=2.59.160.0/24
add action=drop chain=forward disabled=yes dst-address=10.129.0.99
add action=drop chain=input src-address=213.209.159.136
add action=accept chain=input comment=PPTP dst-port=1723 protocol=tcp \
    src-address-list="UK Medma" src-port=""
add action=drop chain=input dst-port=1723 protocol=tcp
add action=accept chain=input comment=L2TP dst-port=500,4500,1701 protocol=\
    udp src-address-list="UK Medma"
add action=drop chain=input dst-port=500,4500,1701 protocol=udp
add action=accept chain=input comment=Winbox dst-port=8291 protocol=tcp \
    src-address-list="UK Medma" src-port=""
add action=drop chain=input protocol=tcp src-port=8291
add action=accept chain=input src-address-list="UK Medma"
add action=accept chain=input src-address=77.88.8.8 src-address-list=""
add action=accept chain=input protocol=icmp
add action=accept chain=input src-address=8.8.8.8
add action=accept chain=input src-address=46.61.250.136 src-address-list=""
add action=accept chain=input src-address=46.61.250.137 src-address-list=""
add action=accept chain=input dst-address-list=TEST_SIP
add action=accept chain=forward dst-address-list=TEST_SIP
add action=accept chain=input comment="UK Medma" src-address-list="UK Medma"
add action=accept chain=input comment=MSK src-address-list=MSK
add action=accept chain=input protocol=icmp
add action=accept chain=input protocol=gre
add action=accept chain=input dst-port=1723 protocol=tcp
add action=accept chain=input dst-port=53 in-interface=BR1 protocol=udp
add action=accept chain=input
add action=drop chain=input in-interface=RT
add action=drop chain=input in-interface=ether10
/ip firewall mangle
add action=add-src-to-address-list address-list=TEMP_LIST \
    address-list-timeout=none-dynamic chain=input layer7-protocol=DropSIP
/ip firewall nat
add action=accept chain=srcnat disabled=yes dst-address=192.168.1.0/24 \
    src-address=192.168.4.0/24
add action=accept chain=srcnat disabled=yes dst-address=192.168.4.0/24 \
    src-address=192.168.1.0/24
add action=dst-nat chain=dstnat disabled=yes dst-address=213.109.13.205 \
    dst-port=33898 protocol=tcp to-addresses=192.168.4.5 to-ports=3389
add action=dst-nat chain=dstnat disabled=yes dst-address=213.109.13.205 \
    dst-port=61888 protocol=tcp to-addresses=192.168.4.252 to-ports=80
add action=dst-nat chain=dstnat disabled=yes dst-address=213.109.13.205 \
    dst-port=22 protocol=tcp src-address=78.30.238.58 to-addresses=\
    192.168.4.250
add action=dst-nat chain=dstnat comment="Asterisk Web External Access" \
    disabled=yes dst-address=213.109.13.205 dst-port=56480 protocol=tcp \
    src-address-list=acdr_ext_allow to-addresses=192.168.4.250 to-ports=80
add action=dst-nat chain=dstnat dst-address=195.34.241.74 dst-port=8090 log=\
    yes log-prefix=test_sip protocol=tcp src-address-list=TEST_SIP \
    to-addresses=10.48.0.151 to-ports=8090
add action=dst-nat chain=dstnat dst-address=195.34.241.74 dst-port=8089 log=\
    yes log-prefix=test_sip protocol=tcp src-address-list=TEST_SIP \
    to-addresses=10.48.0.151 to-ports=8089
add action=dst-nat chain=dstnat dst-address=195.34.241.74 dst-port=5060-5061 \
    log=yes log-prefix=test_sip protocol=tcp src-address-list=TEST_SIP \
    to-addresses=10.48.0.151 to-ports=5060-5061
add action=dst-nat chain=dstnat dst-address=195.34.241.74 dst-port=5060-5061 \
    log=yes log-prefix=test_sip protocol=udp src-address-list=TEST_SIP \
    to-addresses=10.48.0.151 to-ports=5060-5061
add action=dst-nat chain=dstnat dst-address=213.109.13.205 dst-port=8090 log=\
    yes log-prefix=test_sip protocol=tcp src-address-list=TEST_SIP \
    to-addresses=10.48.0.151 to-ports=8090
add action=dst-nat chain=dstnat dst-address=213.109.13.205 dst-port=8089 log=\
    yes log-prefix=test_sip protocol=tcp src-address-list=TEST_SIP \
    to-addresses=10.48.0.151 to-ports=8089
add action=dst-nat chain=dstnat dst-address=213.109.13.205 dst-port=5060-5061 \
    log=yes log-prefix=test_sip protocol=tcp src-address-list=TEST_SIP \
    to-addresses=10.48.0.151 to-ports=5060-5061
add action=dst-nat chain=dstnat dst-address=213.109.13.205 dst-port=5060-5061 \
    log=yes log-prefix=test_sip protocol=udp src-address-list=TEST_SIP \
    to-addresses=10.48.0.151 to-ports=5060-5061
add action=dst-nat chain=dstnat comment="Polly Web External Access" disabled=\
    yes dst-address=213.109.13.205 dst-port=58480 protocol=tcp \
    src-address-list=polly_ext_allow to-addresses=192.168.4.1 to-ports=80
add action=dst-nat chain=dstnat comment="SSH External Access" disabled=yes \
    dst-address=213.109.13.205 dst-port=58422 protocol=tcp src-address-list=\
    ssh_ext_allow to-addresses=192.168.4.1 to-ports=22
add action=masquerade chain=srcnat disabled=yes out-interface=RT
add action=dst-nat chain=dstnat disabled=yes dst-address-list=WANip dst-port=\
    40022 protocol=tcp to-addresses=192.168.4.1 to-ports=22
add action=dst-nat chain=dstnat disabled=yes dst-address-list=WANip dst-port=\
    3306 protocol=tcp src-address-list=serviceip to-addresses=192.168.4.1
add action=dst-nat chain=dstnat disabled=yes dst-address-list=WANip dst-port=\
    40080 protocol=tcp to-addresses=192.168.4.1 to-ports=80
add action=dst-nat chain=dstnat disabled=yes dst-address-list=WANip dst-port=\
    5060 protocol=tcp to-addresses=192.168.4.250
add action=dst-nat chain=dstnat disabled=yes dst-address-list=WANip dst-port=\
    5060 protocol=udp to-addresses=192.168.4.250
add action=dst-nat chain=dstnat disabled=yes dst-address-list=WANip dst-port=\
    10000-20000 protocol=udp to-addresses=192.168.4.250
add action=dst-nat chain=dstnat disabled=yes dst-address-list=WANip dst-port=\
    8080 protocol=tcp to-addresses=192.168.4.252 to-ports=80
add action=masquerade chain=srcnat out-interface=ether10
add action=masquerade chain=srcnat out-interface=RT
add action=masquerade chain=srcnat disabled=yes out-interface=BR1
add action=masquerade chain=srcnat disabled=yes out-interface=\
    "MSK_Tunnel_TushinoTelecom(MSK)_DomRU(LIP)"
/ip firewall service-port
set h323 disabled=yes
set sip disabled=yes
/ip ipsec identity
add generate-policy=port-override peer=peer1 remote-id=ignore secret=Vitromed
/ip ipsec policy
set 0 proposal=PROP1
/ip route
add check-gateway=ping comment=ISP1_RT distance=1 gateway=RT
add check-gateway=ping comment=ISP2_DomRu distance=2 gateway=ether10
add comment="Netwatch check via ISP1_RT" distance=1 dst-address=8.8.8.8/32 \
    gateway=RT
add check-gateway=ping distance=1 dst-address=10.50.8.0/22 gateway=\
    172.16.49.1
add check-gateway=ping distance=2 dst-address=10.50.8.0/22 gateway=\
    172.16.50.1
add check-gateway=ping distance=2 dst-address=10.50.8.0/22 gateway=\
    172.16.48.1
add check-gateway=ping distance=2 dst-address=10.50.8.0/22 gateway=\
    172.16.47.1
add distance=1 dst-address=10.129.0.0/22 gateway=172.16.48.11
add distance=1 dst-address=10.196.0.0/22 gateway=172.16.48.11
add distance=1 dst-address=10.196.20.0/24 gateway=172.16.48.11
add distance=1 dst-address=10.196.112.0/24 gateway=172.16.48.11
add distance=1 dst-address=10.196.200.0/24 gateway=172.16.48.11
add distance=1 dst-address=172.26.10.0/24 gateway=172.16.48.11
add check-gateway=ping distance=1 dst-address=192.168.1.0/24 gateway=\
    172.16.49.1
add check-gateway=ping distance=1 dst-address=192.168.1.0/24 gateway=\
    172.16.47.1
add check-gateway=ping distance=2 dst-address=192.168.1.0/24 gateway=\
    172.16.50.1
add check-gateway=ping distance=3 dst-address=192.168.1.0/24 gateway=\
    172.16.51.1
/ip service
set telnet disabled=yes
set ftp disabled=yes
set www address=10.48.0.0/24,10.196.0.0/22,10.196.20.0/24,10.196.112.0/24
set ssh address=10.196.112.0/24,10.196.0.0/22,93.90.225.238/32,2.59.160.0/24 \
    port=8822
set api address=10.196.112.0/24,10.196.0.0/22,93.90.225.238/32,2.59.160.0/24
set winbox address="10.129.0.0/22,192.168.0.0/16,2.59.160.0/24,93.90.225.238/3\
    2,10.196.0.0/22,10.196.112.0/24"
set api-ssl disabled=yes
/ip ssh
set allow-none-crypto=yes forwarding-enabled=remote
/ip upnp
set enabled=yes
/lcd
set read-only-mode=yes touch-screen=disabled
/ppp secret
add local-address=172.16.48.10 name=UK_Medma password=j95XZ1IyrViw \
    remote-address=172.16.48.11 service=l2tp
/snmp
set contact=it@medma.su enabled=yes location="Fertimed Lipetsk" \
    trap-community=zbx-medma trap-version=2
/system clock
set time-zone-autodetect=no time-zone-name=Europe/Moscow
/system identity
set name=lip-core-r1
/system ntp client
set enabled=yes primary-ntp=92.54.84.70
/system package update
set channel=long-term
/system scheduler
add interval=30s name=run_reset_sip_script on-event=\
    "/system script run drop_sip_conn" policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon \
    start-date=sep/01/2026 start-time=09:22:36
add interval=1d name=daily_UpdateRouterOS on-event=UpdateRouterOS policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon \
    start-date=sep/24/2026 start-time=03:00:00
add interval=1d name=daily_UpgradeFirmware on-event=UpgradeFirmware policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon \
    start-date=sep/24/2026 start-time=03:30:00
/system script
add comment="\D1\E1\F0\EE\F1 SIP \F1\EE\E5\E4\E8\ED\E5\ED\E8\E9 \EF\F0\E8 \EF\
    \E5\F0\E5\F5\EE\E4\E5 \F1 \EA\EE\EC\EF\FC\FE\F2\E5\F0\E0 \EF\EE \F1\F1\FB\
    \EB\EA\E5 http://10.48.0.1/MikrotikLip/drop_sip_conn" \
    dont-require-permissions=no name=drop_sip_conn owner=admin policy=\
    ftp,reboot,read,write,policy,sniff source=":local DROPSIPCONN [/ip firewal\
    l address-list find where list=\"TEMP_LIST\"]\r\
    \n\r\
    \n:if (\$DROPSIPCONN!=\"\") do={\r\
    \n:log warning \"*** Manually drop SIP connections by user *** [drop_sip_c\
    onn]\"\r\
    \n\r\
    \n#:foreach i in=[/ip firewall connection find dst-address~\":5060\" proto\
    col~\"udp\"] do={ /ip firewall connection remove \$i }\r\
    \n\r\
    \n/ip firewall connection remove [find where dst-address~\":5060\" protoco\
    l~\"udp\"]\r\
    \n\r\
    \n/ip firewall address-list remove [find where list=\"TEMP_LIST\"]\r\
    \n}\r\
    \n"
add dont-require-permissions=no name=UpdateRouterOS owner=ansible policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon source="#\
    ##################\
    \n# UpdateRouterOS\
    \n###################\
    \n\
    \n# Checking the UpgradeAllowed file\
    \n# If it exists, updates are allowed\
    \n\
    \n:local fileName \"UpgradeAllowed\";\
    \n:local UpgradeAllowed;\
    \n\
    \n:if ([:len [/file find name=\$fileName]] > 0) do={\
    \n  :set \$UpgradeAllowed \"yes\";\
    \n} else={\
    \n  :set \$UpgradeAllowed \"no\";\
    \n}\
    \n\
    \n\
    \n:log info \"UpgradeAllowed: \$UpgradeAllowed\";\
    \n\
    \n:if ( \$UpgradeAllowed = \"no\" ) do={ \
    \n  :error \"Update not allowed!!!\";\
    \n}\
    \n\
    \n:log warning \"Checking new version RouterOS...\";\
    \n/system package update\
    \ncheck-for-updates once\
    \n:delay 5s;\
    \n:if ( [get status] = \"System is already up to date\") do={ \
    \n:log warning \"Installed last RouterOS version, skip upgrading\";\
    \n}\
    \n:if ( [get status] = \"New version is available\") do={ \
    \n   :log warning \"Attention! New version of RouterOS is available!\";\
    \n   :delay 2s;\
    \n   /system package update download;\
    \n   :delay 10s;\
    \n   /system package update install;\
    \n   :log warning \"Updated!!!\";\
    \n}\
    \n"
add dont-require-permissions=no name=UpgradeFirmware owner=ansible policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon source="#\
    ##################\
    \n# UpgradeFirmware\
    \n###################\
    \n\
    \n# Checking the UpgradeAllowed file\
    \n# If it exists, updates are allowed\
    \n:local fileName \"UpgradeAllowed\";\
    \n:local UpgradeAllowed;\
    \n\
    \n:if ([:len [/file find name=\$fileName]] > 0) do={\
    \n  :set \$UpgradeAllowed \"yes\";\
    \n} else={\
    \n  :set \$UpgradeAllowed \"no\";\
    \n}\
    \n\
    \n:log info \"UpgradeAllowed: \$UpgradeAllowed\"\
    \n\
    \n:if ( \$UpgradeAllowed = \"no\" ) do={ \
    \n  :error \"Upgrade not allowed!!!\";\
    \n}\
    \n\
    \n:log warning \"Checking new firmware...\";\
    \n\
    \n:local currver [/system routerboard get current-firmware];\
    \n:local upgrver [/system routerboard get upgrade-firmware];\
    \n\
    \n:log info \"current-firmware: \$currver\";\
    \n:log info \"upgrade-firmware: \$upgrver\";\
    \n\
    \n:if ( \$currver = \$upgrver ) do={ \
    \n   :log warning \"Installed last firmware version, skip upgrading\";\
    \n} else={\
    \n   :log warning \"Attention! New version of firmware is available!\";\
    \n   :delay 2s;\
    \n   /system routerboard upgrade;\
    \n   /system reboot;\
    \n}\
    \n"
/tool bandwidth-server
set authenticate=no
/tool netwatch
add disabled=yes down-script=\
    "/ip firewall connection remove [find where src-address~\"10.48.0.151\"]" \
    host=195.34.241.74 interval=15m up-script=\
    "/ip firewall connection remove [find where src-address~\"10.48.0.151\"]"
add down-script=":log error \"ISP1_RT is DOWN - switching to backup\"\r\
    \n\r\
    \n:foreach i in=[/ip firewall connection find dst-address~\":5060\" protoc\
    ol~\"udp\"] do={ /ip firewall connection remove \$i } \r\
    \n" host=8.8.8.8 interval=15m up-script=":log warning \"ISP1_RT is UP - sw\
    itching to primary\"\r\
    \n\r\
    \n:foreach i in=[/ip firewall connection find dst-address~\":5060\" protoc\
    ol~\"udp\"] do={ /ip firewall connection remove \$i } \r\
    \n"
/tool romon port
add
