# 2026-10-08 13:42:36 by RouterOS 7.24.4
# software id = RBUW-AN2X
#
# model = RBD52G-5HacD2HnD
# serial number = B4A40B03FA4A
/caps-man channel
add band=2ghz-g/n extension-channel=Ce name=channel-all
add band=5ghz-a/n/ac extension-channel=XXXX name=channel-5GHz
/interface bridge
add fast-forward=no mtu=1450 name=LAN port-cost-mode=short priority=0x4000
add name=bridge-hotspot port-cost-mode=short
add name=bridge-private port-cost-mode=short
/interface wireless
# managed by CAPsMAN
# channel: 2447/20-Ce/gn(17dBm), SSID: Wi-Fi-Free-2G, CAPsMAN forwarding
set [ find default-name=wlan2 ] name=wlan1 ssid=MikroTik
# managed by CAPsMAN
# channel: 5180/20-Ceee/ac/P(17dBm), SSID: Wi-Fi-Free-5G, CAPsMAN forwarding
set [ find default-name=wlan1 ] name=wlan2 ssid=MikroTik
add mac-address=C6:AD:34:05:91:DF master-interface=wlan1 name=wlan3
add mac-address=C6:AD:34:05:91:E0 master-interface=wlan1 name=wlan4
/caps-man datapath
add bridge=bridge-hotspot client-to-client-forwarding=no local-forwarding=no \
    name=datapath-hotspot
add bridge=LAN client-to-client-forwarding=no local-forwarding=no mtu=1450 \
    name=datapath-private
/caps-man security
add name=security-hotspot
add authentication-types=wpa2-psk encryption=aes-ccm name=security-private \
    passphrase=9069477323
/caps-man configuration
add channel=channel-all country=russia3 datapath=datapath-hotspot mode=ap \
    name=cfg-hotspot-2G rx-chains=0,1,2 security=security-hotspot ssid=\
    Wi-Fi-Free-2G tx-chains=0,1,2
add channel=channel-all country=russia3 datapath=datapath-private mode=ap \
    name=cfg-private-2G rx-chains=0,1,2 security=security-private ssid=rvwifi \
    tx-chains=0,1,2
add channel=channel-5GHz country=russia3 datapath=datapath-hotspot mode=ap \
    name=cfg-hotspot-5G rx-chains=0,1,2 security=security-hotspot ssid=\
    Wi-Fi-Free-5G tx-chains=0,1,2
add channel=channel-5GHz country=russia3 datapath=datapath-private mode=ap \
    name=cfg-private-5G rx-chains=0,1,2 security=security-private ssid=rvwifi \
    tx-chains=0,1,2
/interface lte apn
set [ find default=yes ] ip-type=ipv4 use-network-apn=no
/interface wireless security-profiles
set [ find default=yes ] supplicant-identity=MikroTik
/ip hotspot user profile
set [ find default=yes ] keepalive-timeout=10m session-timeout=4h
add keepalive-timeout=5m name=trial on-logout=":local usermac [:pick \$user 2 \
    19]\
    \n:log info \"Remove host \$usermac\"\
    \n/ip hotspot host remove [find mac-address=\$usermac]" session-timeout=\
    5m transparent-proxy=yes
/ip hotspot profile
set [ find default=yes ] dns-name=hotspot.medma.su hotspot-address=10.7.0.1 \
    html-directory=flash/medma login-by=mac,https,http-pap,trial \
    nas-port-type=ethernet radius-interim-update=1m radius-location-id=1383 \
    ssl-certificate=certificate.crt_0 trial-uptime-limit=5m \
    trial-uptime-reset=5m trial-user-profile=trial use-radius=yes
/ip pool
add name=hotspot-pool ranges=10.7.0.12-10.7.255.254
add name=private-pool ranges=10.5.0.12-10.5.255.254
/ip smb users
set [ find default=yes ] disabled=yes
/ppp profile
add change-tcp-mss=yes local-address=172.22.15.133 name=karma
/interface sstp-client
add connect-to=hub.the-karma.com disabled=no http-proxy=0.0.0.0 \
    keepalive-timeout=disabled name=karma-sstp password=\
    DCCVU6MLVety3ph6assnxw port=8443 profile=karma user=\
    medmasu_genom_tomsk_wi_fi_1
/queue type
add kind=pcq name=hotspot-pcq-upload pcq-classifier=src-address pcq-limit=\
    2000KiB pcq-rate=5M pcq-total-limit=20000KiB
add kind=pcq name=hotspot-pcq-download pcq-classifier=dst-address pcq-limit=\
    2000KiB pcq-rate=5M pcq-total-limit=20000KiB
/queue tree
add name=hotspot-upload packet-mark=upload parent=global queue=\
    hotspot-pcq-upload
add name=hotspot-download packet-mark=download parent=global queue=\
    hotspot-pcq-download
/routing bgp template
set default as=65530 disabled=no output.network=bgp-networks
/routing ospf instance
add disabled=no name=default-v2
/routing ospf area
add disabled=yes instance=default-v2 name=backbone-v2
/system script
add dont-require-permissions=no name=script1 owner=admin policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon source="/\
    tool fetch mode=https url=\"https://app.karmawifi.ru/access_points/medmasu\
    _genom_tomsk_wi_fi_1/setup.rsc\\\?token=iDlO7tZgMMXbNMTupg4zA\" dst-path=s\
    etup_medmasu_genom_tomsk_wi_fi_1.rsc\r\
    \n/import file-name=setup_medmasu_genom_tomsk_wi_fi_1.rsc"
add dont-require-permissions=no name=FetchPeriodic owner=admin policy=\
    reboot,read,write,policy,test,password,sniff,sensitive source=":global ser\
    verAvaiable\
    \n\
    \n:local activeHotspotCount [/ip hotspot print count-only where disabled=n\
    o] \
    \n:local activeUsersCount [/ip hotspot active print count-only where login\
    -by~\"^mac|trial|http-pap\\\$\"] \
    \n:local activeTrialUsersCount [/ip hotspot active print count-only where \
    login-by=trial] \
    \n:local usersCount [/ip hotspot host print count-only] \
    \n\
    \n:do {\
    \n/tool fetch mode=http url=\"http://fetch.karmawifi.ru/access_points/\$[/\
    system identity get name]/periodic\?active_users=\$activeUsersCount&hotspo\
    t=\$activeHotspotCount&token=wLV8JaCD7yS5QpunPCCe&trial_users=\$activeTria\
    lUsersCount&users=\$usersCount\" dst-path=periodic.rsc \
    \n} on-error={\
    \n        :if ([:len [/interface sstp-client find name=\"karma-sstp\"]] > \
    0) do={\
    \n/interface sstp-client set [find where name=karma-sstp] disabled=yes\
    \n:delay 2s\
    \n/interface sstp-client set [find where name=karma-sstp] disabled=no\
    \n}\
    \n/tool fetch mode=https url=\"https://app.karmawifi.ru/access_points/\$[/\
    system identity get name]/periodic\?active_users=\$activeUsersCount&hotspo\
    t=\$activeHotspotCount&token=wLV8JaCD7yS5QpunPCCe&trial_users=\$activeTria\
    lUsersCount&users=\$usersCount\" dst-path=periodic.rsc \
    \n};\
    \n\
    \n/import file-name=periodic.rsc \
    \n:set serverAvaiable true"
add dont-require-permissions=no name=CheckLogin owner=admin policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive source=":global\
    \_serverAvaiable false\
    \n:do {\
    \n/system script job remove [find where script=FetchPeriodic]\
    \n/system script run FetchPeriodic\
    \n} on-error={ };\
    \n\
    \n/ip hotspot set [ find name=hotspot-server disabled=(\$serverAvaiable) ]\
    \_disabled=(!\$serverAvaiable)\
    \n:if (\$serverAvaiable = true and [/ip dns static print count-only where \
    name=\"hotspot.medma.su\"] = 0) do={\
    \n/ip hotspot set [ find name=hotspot-server ] disabled=yes\
    \n:delay 100ms\
    \n/ip hotspot set [ find name=hotspot-server ] disabled=no\
    \n}\
    \n"
add dont-require-permissions=no name=UpdateRouterOS owner=ansible policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon source="#\
    ##################\
    \n# UpdateRouterOS\
    \n###################\
    \n\
    \n# Checking the UpgradeAllowed file\
    \n# If it exists, updates are allowed\
    \n\
    \n:local fileName \"UpgradeAllowed\";\
    \n:local UpgradeAllowed;\
    \n\
    \n:if ([:len [/file find name=\$fileName]] > 0) do={\
    \n  :set \$UpgradeAllowed \"yes\";\
    \n} else={\
    \n  :set \$UpgradeAllowed \"no\";\
    \n}\
    \n\
    \n\
    \n:log info \"UpgradeAllowed: \$UpgradeAllowed\";\
    \n\
    \n:if ( \$UpgradeAllowed = \"no\" ) do={ \
    \n  :error \"Update not allowed!!!\";\
    \n}\
    \n\
    \n:log warning \"Checking new version RouterOS...\";\
    \n/system package update\
    \ncheck-for-updates once\
    \n:delay 5s;\
    \n:if ( [get status] = \"System is already up to date\") do={ \
    \n:log warning \"Installed last RouterOS version, skip upgrading\";\
    \n}\
    \n:if ( [get status] = \"New version is available\") do={ \
    \n   :log warning \"Attention! New version of RouterOS is available!\";\
    \n   :delay 2s;\
    \n   /system package update download;\
    \n   :delay 10s;\
    \n   /system package update install;\
    \n   :log warning \"Updated!!!\";\
    \n}\
    \n"
add dont-require-permissions=no name=UpgradeFirmware owner=ansible policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon source="#\
    ##################\
    \n# UpgradeFirmware\
    \n###################\
    \n\
    \n# Checking the UpgradeAllowed file\
    \n# If it exists, updates are allowed\
    \n:local fileName \"UpgradeAllowed\";\
    \n:local UpgradeAllowed;\
    \n\
    \n:if ([:len [/file find name=\$fileName]] > 0) do={\
    \n  :set \$UpgradeAllowed \"yes\";\
    \n} else={\
    \n  :set \$UpgradeAllowed \"no\";\
    \n}\
    \n\
    \n:log info \"UpgradeAllowed: \$UpgradeAllowed\"\
    \n\
    \n:if ( \$UpgradeAllowed = \"no\" ) do={ \
    \n  :error \"Upgrade not allowed!!!\";\
    \n}\
    \n\
    \n:log warning \"Checking new firmware...\";\
    \n\
    \n:local currver [/system routerboard get current-firmware];\
    \n:local upgrver [/system routerboard get upgrade-firmware];\
    \n\
    \n:log info \"current-firmware: \$currver\";\
    \n:log info \"upgrade-firmware: \$upgrver\";\
    \n\
    \n:if ( \$currver = \$upgrver ) do={ \
    \n   :log warning \"Installed last firmware version, skip upgrading\";\
    \n} else={\
    \n   :log warning \"Attention! New version of firmware is available!\";\
    \n   :delay 2s;\
    \n   /system routerboard upgrade;\
    \n   /system reboot;\
    \n}\
    \n"
/caps-man manager
set enabled=yes
/caps-man provisioning
add action=create-dynamic-enabled hw-supported-modes=g,gn \
    master-configuration=cfg-hotspot-2G name-format=prefix-identity \
    name-prefix=2G slave-configurations=cfg-private-2G
add action=create-dynamic-enabled hw-supported-modes=a,ac,an \
    master-configuration=cfg-hotspot-5G name-format=prefix-identity \
    name-prefix=5G slave-configurations=cfg-private-5G
/certificate settings
set builtin-trust-store=untrusted
/interface bridge port
add bridge=LAN ingress-filtering=no interface=ether1 internal-path-cost=10 \
    path-cost=10
add bridge=LAN ingress-filtering=no interface=ether2 internal-path-cost=10 \
    path-cost=10
add bridge=LAN ingress-filtering=no interface=ether3 internal-path-cost=10 \
    path-cost=10
add bridge=LAN ingress-filtering=no interface=ether4 internal-path-cost=10 \
    path-cost=10
add bridge=LAN ingress-filtering=no interface=ether5 internal-path-cost=10 \
    path-cost=10
/ip firewall connection tracking
set udp-timeout=10s
/ip settings
set max-neighbor-entries=8192
/ipv6 settings
set disable-ipv6=yes max-neighbor-entries=8192
/interface ovpn-server server
add auth=sha1,md5 mac-address=FE:BF:C1:DE:B9:44 name=ovpn-server1
/interface wireless cap
# 
set caps-man-addresses=127.0.0.1 enabled=yes interfaces=wlan1,wlan2
/ip address
add address=10.70.0.3/22 interface=LAN network=10.70.0.0
add address=10.7.0.1/16 interface=bridge-hotspot network=10.7.0.0
add address=10.5.0.1/16 interface=bridge-private network=10.5.0.0
/ip dhcp-server
add address-pool=hotspot-pool interface=bridge-hotspot lease-time=10m name=\
    hotspot-dhcp
add address-pool=private-pool interface=bridge-private lease-time=10m name=\
    private-dhcp
/ip dhcp-server network
add address=10.5.0.0/16 comment="private configuration" dns-server=10.5.0.1 \
    gateway=10.5.0.1 netmask=16
add address=10.7.0.0/16 comment="hotspot configuration" dns-server=10.7.0.1 \
    gateway=10.7.0.1 netmask=16
/ip dns
set allow-remote-requests=yes servers=8.8.8.8,8.8.4.4
/ip dns static
add address=10.7.0.1 name=medmasu_genom_tomsk_wi_fi_1 type=A
add address=172.22.0.2 name=fetch.karmawifi.ru type=A
/ip firewall filter
add action=passthrough chain=unused-hs-chain comment=\
    "place hotspot rules here" disabled=yes
add action=drop chain=input comment="Drop winbox access from hotspot" \
    in-interface=bridge-hotspot port=8291 protocol=tcp
add action=drop chain=input comment="Drop winbox access from private" \
    in-interface=bridge-private port=8291 protocol=tcp
add action=drop chain=forward comment="Drop packets from hotspot to private" \
    in-interface=bridge-hotspot out-interface=bridge-private
/ip firewall mangle
add action=mark-packet chain=prerouting in-interface=bridge-hotspot \
    new-packet-mark=upload
add action=mark-packet chain=postrouting new-packet-mark=download \
    out-interface=bridge-hotspot
/ip firewall nat
add action=passthrough chain=unused-hs-chain comment=\
    "place hotspot rules here" disabled=yes
add action=masquerade chain=srcnat out-interface=LAN
/ip hotspot
add address-pool=hotspot-pool addresses-per-mac=1 disabled=no idle-timeout=\
    10m interface=bridge-hotspot keepalive-timeout=10m name=hotspot-server
/ip hotspot walled-garden
add comment="place hotspot rules here" disabled=yes
add comment="MANUAL yandex mc.yandex.ru" dst-host=mc.yandex.ru
add comment="MANUAL google *google-analytics*" dst-host=*google-analytics*
add comment="MANUAL medma wifi.medma.su" dst-host=wifi.medma.su
add comment="MANUAL medma nephroline.ru" dst-host=nephroline.ru
/ip hotspot walled-garden ip
add action=accept comment="MANUAL yandex mc.yandex.ru" disabled=no dst-host=\
    mc.yandex.ru dst-port=443 protocol=tcp
add action=accept comment="MANUAL google *google-analytics*" disabled=no \
    dst-host=*google-analytics* dst-port=443 protocol=tcp
add action=accept comment="MANUAL medma wifi.medma.su" disabled=no dst-host=\
    wifi.medma.su dst-port=443 protocol=tcp
add action=accept comment="MANUAL medma nephroline.ru" disabled=no dst-host=\
    nephroline.ru dst-port=443 protocol=tcp
/ip ipsec profile
set [ find default=yes ] dpd-interval=2m dpd-maximum-failures=5
/ip proxy
set cache-administrator=info@medmagroup.ru max-cache-size=none
/ip proxy access
add action=redirect action-data=hotspot.medma.su/login method=GET path=\
    /generate_204
add action=redirect action-data=\
    "hotspot.medma.su/login\?dst=http%3A%2F%2Fwww.msftncsi.com%2Fncsi.txt" \
    dst-host=www.msftncsi.com method=GET path=/ncsi.txt
/ip route
add disabled=no dst-address=0.0.0.0/0 gateway=10.70.0.1
add comment="Karma VPN network" disabled=no dst-address=172.22.0.0/16 \
    gateway=karma-sstp
/ip service
set ftp disabled=yes
set telnet disabled=yes
set api available-from=\
    10.196.112.0/24,10.196.0.0/22,93.90.225.238/32,2.59.160.0/24
set api-ssl disabled=yes
set ssh available-from=\
    10.196.112.0/24,10.196.0.0/22,93.90.225.238/32,2.59.160.0/24 port=8822
/ipv6 nd
# automatic dns option advertising is not started, re-apply dns config
set [ find default=yes ] advertise-dns=yes
/radius
add accounting-port=17772 address=89.108.106.171 authentication-port=17771 \
    require-message-auth=no secret=fqyyAuRsy6mY service=hotspot timeout=500ms
/routing bfd configuration
add disabled=no interfaces=all min-rx=200ms min-tx=200ms multiplier=5
/system clock
set time-zone-autodetect=no time-zone-name=Asia/Tomsk
/system identity
set name=medmasu_genom_tomsk_wi_fi_1
/system ntp client
set enabled=yes
/system ntp client servers
add address=82.146.42.44
add address=93.191.12.44
/system scheduler
add comment="Check Login Task" !days interval=1m name=CheckLogin on-event=\
    CheckLogin policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive start-date=\
    1970-01-01 start-time=00:00:59
add !days interval=1d name=daily_UpdateRouterOS on-event=UpdateRouterOS \
    policy=ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon \
    start-date=2026-09-22 start-time=03:00:00
add !days interval=1d name=daily_UpgradeFirmware on-event=UpgradeFirmware \
    policy=ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon \
    start-date=2026-09-22 start-time=03:30:00
